<link rel="stylesheet" href="app.component.css">

<!--********Header********-->
<section>
	<header>
		<div>
			<nav role="navigation">
				<h3 class="logo-text">Logo here</h3>
				<div class="navigation-bar">
					<ul id="menu">
						<h3 class="logo-text-s">&#10094;/<code><i style="color: #40ff00;">code</i></code>&#10095;</h3>
						
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						
						<button class="nav-btn">CallAction</button>
					</ul>
				</div>
			</nav>
		</div>
	</header>
</section>

<!------*****main*******------->
<section>
	<main>
		<div class="content">
			<article>
				<h2 class="title">Article title</h2>
				<div class="columns">
					<p>Lorem ipsum dolor sit amet, <i class="fake-link">consectetur</i> adipiscing elit.Phasellus tempus consequat aliquam.
						Pellentesque urna turpis, cursus ut varius vel, vulputate in odio. Integer at quam pretium, egestas
						massa eget, euismod risus. Proin placerat justo lorem, at sollicitudin felis molestie ut. Mauris quis
						congue nunc. usce elementum arcu vitae <a href="#">viverra luctus, augue purus</a> bibendum libero, ac auctor lacus 
						ante id velit. Morbi eu efficitur est. Phasellus vel arcu at ipsum posuere condimentum non ut velit.<br>
						<img src="https://unsplash.it/500/300">
						Morbi at quam fringilla fermentum sem id, fermentum nisi. In vel volutpat arcu. Phasellus eu ultrices metus.
						Suspendisse lorem ipsum, vulputate id nulla eget, varius fringilla lacus. Etiam vestibulum tortor nibh, eu blandit
						arcu venenatis non. Etiam volutpatrisus at gravida convallis. Vestibulum luctus nunc ligula, a vulputate odio 
						<i class="fake-link">ultrices semper.</i> Morbi feugi ipsum nec ultricies laoreet. Aliquam in ultricies risus. Ut lacinia felis suscipit,
						sollicitudin arcu in, mollis sapien. Donec sem mauris, <i class="fake-link">finibus et libero et,</i> consequat laoreet nunc. Curabitur non
						euismod mauris. Suspendisse blandit scelerisque euismod.<br>
						
						Vestibulum porttitor tincidunt urna,<butto a laoreet</buttn> leo iaculis in. Sed quis massa quam. Sed aliquet felis id accumsan
						lobortis. Suspendisse egestas sagittis metus, ullamcorper luctus odio ultrices quis. Nunc nec vehicula libero. 
						Donec eu leo at urna fermentum efficitur et quis ante. Integer placerat elit <i class="fake-link">vitae justo maximus,</i> quis efficitur 
						enim <buton href="#" class="invisible">condimentum.</butt> Sed varius ornare erat nec euismod. Mauris congue faucibus velit non eleifend. Praesent 
						sollicitudin lectus a sagittis molestie. Etiam porttitor, tellus nec porttitor ultrices, odio eros sodales nisl,
						ac convallis est erat ut turpis. <a href="3">Class aptent taciti sociosqu</a> ad litora torquent per conubia nostra, per inceptos
						himenaeos. Vestibulum porta ac lorem sit amet efficitur. Mauris <buton href="#" class="invisible">egestas justo et nibh iaculis</but> faucibus.<br>
						
						<blockquote>Phasellus elementum et arcu sed ultrices. Nulla a lacus sed massa posuere dignissim id sit amet est. Fusce 
						eget ex ut nisi blandit accumsan ac non quam. Phasellus faucibus justo sapien, eu auctor lacus rhoncus eu. 
						Vestibulum euismod accumsan mi quis ornare. Integer condimentum justo sed hendrerit placerat. Donec vehicula
						vestibulum ex, <buton href="#" class="visible">id tempus nisi</bun> lacinia at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</blockquote>
						
						<i class="fake-link">Nam sed dolor quis</i> augue mollis sodales viverra ac orci. Ut elementum risus non diam dapibus<buon href="#" class="invisible">, ac egestas</but> erat
						porta. Maecenas tristique mauris eu congue rutrum. Quisque et vehicula mauris. Sed auctor egestas viverra. Eti
						at mauris massa. Nulla vel arcu massa. Etiam nec enim ac velit sagittis mattis sit amet quis tortor. Aenean ac
						ligula purus.</p>
						
						<button class="nav-btn btn">Button</button>
				</div>
			</article>
		</div>
	</main>
</section>

<router-outlet></router-outlet>
